* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 400px;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 20px 20px 10px #888;
  background-color: honeydew;
}

.header {
  width: 95%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-radius: 20px;
}

.container-body {
  justify-content: center;
  align-items: center;
}

.container-body input {
  padding: 20px 0;
  width: 100%;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  background-color: honeydew;
  font-size: 24px;
}

.task-holder input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  resize: none;
  width: 100%;
}

.container-body input::placeholder {
  font-size: 24px;
  padding: 20px 30px;
}

.container-body input:focus {
  outline: none;
}

.task-holder {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid black;
  padding: 10px 0;
  font-size: 24px;
}

.task-holder img {
  width: 25px;
  height: 25px;
}

.task-holder button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container button {
  background-color: transparent;
  width: fit-content;

  /* height: fit-content; */
  border: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button-container button {
  width: 100%;
  height: 70px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px;
  border-radius: 20px;
}

.button-container button:hover {
  background-color: white;
}
